/* Added Border-Box to all features of HTML page for better sizing on my divs and gamebox div.
- Also, since we didn't learn about psuedo elements in css class, the "::" is for psuedo elements for specific styling
*/
*, *::after, *::before {
    box-sizing: border-box;
}

h1 {
    font-family: monaco, consolas, "Lucida Console", monospace;
}

body{
    margin: 0;
    background-color: #333;
}

.Div2 {
    background-color: blue;
    height: 30vh;
    width: 100%;
    text-align: center;
    font-family: monaco, consolas, "Lucida Console", monospace;
    font-size: 20px;
    }


.Div2.h2 {
    font-family: monaco, consolas, "Lucida Console", monospace;
}

.gamebox {
    background-color: blueviolet;
    height: 55vh;
    width: 100%;
}

.score {
    text-align:center;


}

#scoreboard {
    text-align: center;
}



.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
    margin-left: 300px;
    padding: 40px;

}

.butn {
    font-family: monaco, consolas, "Lucida Console", monospace;
    padding: 20px;
}








/* Dev Notes:
- Need to go back and mess with sizing of the website so that it all works together, rather than just having the pong game adjust to the screen and not the rest of the content




*/